.launch-list {
  height: 100vh;
  overflow: hidden auto;
  background-color: #818181;
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
}

.launch-list__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.launch-list__item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #919191;
  cursor: pointer;
}
